---
import { getCollection } from 'astro:content';

import { SITE_TITLE } from '@/consts';
import Base from '@/layouts/Base.astro';

const authors = await getCollection('authors');
---

<Base title={`Authors - ${SITE_TITLE}`} description="All blog authors">
  <main>
    <div>
      <h1>Authors</h1>
      <ul>
        {
          authors.map((author) => (
            <li>
              <a href={`/blog/authors/${author.id}`}>
                {author.data.avatar && <img src={author.data.avatar} alt={author.data.name} width="50" height="50" />}
                <div>
                  <h2>{author.data.name}</h2>
                  {author.data.bio && <p>{author.data.bio}</p>}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Base>
